//-
    Created by alex on 15/7/30.

.slogan#slogan
    .container
        .row
            .col-sm-9
                .slogan-item.col-sm-3.col-xs-6
                    i.ico-main.i-main-truck
                    span 免费上门服务
                .slogan-item.col-sm-3.col-xs-6
                    i.ico-main.i-main-cycle
                    span 7天订单周期
                .slogan-item.col-sm-3.col-xs-6
                    i.ico-main.i-main-authentic
                    span 正品品质保证
                .slogan-item.col-sm-3.col-xs-6
                    i.ico-main.i-main-open
                    span 预约试衣地点
            .col-sm-3.hidden-xs
                .slogan-item.slogan-item-phone
                    i.ico-main.i-main-phone
                    span 400-123-5678
.footer#footer
    .container
        .row
            .about-other.col-sm-9
                .row
                    dl.col-xs-4
                        dt
                            a(href="javascript:;")
                                i.ico-main.i-main-about
                                span 关于我们
                        dd
                            a(href="javascript:;") 品牌介绍
                        dd
                            a(href="javascript:;") 联系我们
                        dd
                            a(href="javascript:;") 招贤纳士
                        dd
                            a(href="javascript:;") 隐私声明
                    dl.col-xs-4
                        dt
                            a(href="javascript:;")
                                i.ico-main.i-main-custom
                                span 如何定制
                        dd
                            a(href="javascript:;") 定制服务
                        dd
                            a(href="javascript:;") 如何定制
                        dd
                            a(href="javascript:;") 如何测量
                        dd
                            a(href="javascript:;") 团体定制
                    dl.col-xs-4
                        dt
                            a(href="javascript:;")
                                i.ico-main.i-main-box
                                span 配送/支付方式
                        dd
                            a(href="javascript:;") 门店自提
                        dd
                            a(href="javascript:;") 配送服务查询
                        dd
                            a(href="javascript:;") 货到付款
                        dd
                            a(href="javascript:;") 在线支付
                        dd
                            a(href="javascript:;") 公司转账
                    dl.col-xs-4
                        dt
                            a(href="javascript:;")
                                i.ico-main.i-main-heart
                                span 客户服务
                        dd
                            a(href="javascript:;") 预约上门服务
                        dd
                            a(href="javascript:;") 售后服务
                        dd
                            a(href="javascript:;") 退款说明
                        dd
                            a(href="javascript:;") 返修/退换货
                        dd
                            a(href="javascript:;") 取消订单
                    dl.col-xs-4
                        dt
                            a(href="javascript:;")
                                i.ico-main.i-main-member
                                span 会员中心
                        dd
                            a(href="javascript:;") 我的收藏
                        dd
                            a(href="javascript:;") 我的订单
                    dl.col-xs-4
                        dt
                            i.glyphicon.glyphicon-earphone
                            span 400-123-5678
            .share-wrap.col-sm-3
                .share-coverage.clearfix
                    span.qcode
                    | 上海100家店面提供定制试衣服务，支持货到付款售后服务及上门服务。
                .share-list
                    | 分享至：
                    a(href="javascript:;"): i.ico-main.i-main-wx
                    a(href="javascript:;"): i.ico-main.i-main-qq
                    a(href="javascript:;"): i.ico-main.i-main-sina
