doctype html
html(lang='en')
  head
    // start: Meta
    meta(charset='utf-8')
    |     
    title Bootstrap Metro Dashboard by Dennis Ji for ARM demo
    |     
    meta(name='description', content='Bootstrap Metro Dashboard')
    |     
    meta(name='author', content='Dennis Ji')
    |     
    meta(name='keyword', content='Metro, Metro UI, Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina')
    // end: Meta
    // start: Mobile Specific
    meta(name='viewport', content='width=device-width, initial-scale=1')
    // end: Mobile Specific
    // start: CSS
    link#bootstrap-style(href='../css/bootstrap.min.css', rel='stylesheet')
    |     
    link(href='../css/bootstrap-responsive.min.css', rel='stylesheet')
    |     
    link#base-style(href='../css/style.css', rel='stylesheet')
    |     
    link#base-style-responsive(href='../css/style-responsive.css', rel='stylesheet')
    |     
    link(href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&subset=latin,cyrillic-ext,latin-ext', rel='stylesheet', type='text/css')
    // end: CSS
    // The HTML5 shim, for IE6-8 support of HTML5 elements
    //if lt IE 9
      script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')
      |     
      link#ie-style(href='../css/ie.css', rel='stylesheet')
    //if IE 9
      link#ie9style(href='../css/ie9.css', rel='stylesheet')
    // start: Favicon
    link(rel='shortcut icon', href='img/favicon.ico')
    // end: Favicon
  body
    // start: Header
    .navbar
      .navbar-inner
        .container-fluid
          a.btn.btn-navbar(data-toggle='collapse', data-target='.top-nav.nav-collapse,.sidebar-nav.nav-collapse')
            span.icon-bar
            |                 
            span.icon-bar
            |                 
            span.icon-bar
          |             
          a.brand(href='index.html')
            span Metro
          // start: Header Menu
          .nav-no-collapse.header-nav
            ul.nav.pull-right
              li.dropdown.hidden-phone
                a.btn.dropdown-toggle(data-toggle='dropdown', href='#')
                  i.halflings-icon.white.warning-sign
                |                         
                ul.dropdown-menu.notifications
                  li.dropdown-menu-title
                    span You have 11 notifications
                    |                                 
                    a(href='#refresh')
                      i.icon-repeat
                  |                             
                  li
                    a(href='#')
                      span.icon.blue
                        i.icon-user
                      |                                     
                      span.message New user registration
                      |                                     
                      span.time 1 min
                  |                             
                  li
                    a(href='#')
                      span.icon.green
                        i.icon-comment-alt
                      |                                     
                      span.message New comment
                      |                                     
                      span.time 7 min
                  |                             
                  li
                    a(href='#')
                      span.icon.green
                        i.icon-comment-alt
                      |                                     
                      span.message New comment
                      |                                     
                      span.time 8 min
                  |                             
                  li
                    a(href='#')
                      span.icon.green
                        i.icon-comment-alt
                      |                                     
                      span.message New comment
                      |                                     
                      span.time 16 min
                  |                             
                  li
                    a(href='#')
                      span.icon.blue
                        i.icon-user
                      |                                     
                      span.message New user registration
                      |                                     
                      span.time 36 min
                  |                             
                  li
                    a(href='#')
                      span.icon.yellow
                        i.icon-shopping-cart
                      |                                     
                      span.message 2 items sold
                      |                                     
                      span.time 1 hour
                  |                             
                  li.warning
                    a(href='#')
                      span.icon.red
                        i.icon-user
                      |                                     
                      span.message User deleted account
                      |                                     
                      span.time 2 hour
                  |                             
                  li.warning
                    a(href='#')
                      span.icon.red
                        i.icon-shopping-cart
                      |                                     
                      span.message New comment
                      |                                     
                      span.time 6 hour
                  |                             
                  li
                    a(href='#')
                      span.icon.green
                        i.icon-comment-alt
                      |                                     
                      span.message New comment
                      |                                     
                      span.time yesterday
                  |                             
                  li
                    a(href='#')
                      span.icon.blue
                        i.icon-user
                      |                                     
                      span.message New user registration
                      |                                     
                      span.time yesterday
                  |                             
                  li.dropdown-menu-sub-footer
                    a View all notifications
              // start: Notifications Dropdown
              li.dropdown.hidden-phone
                a.btn.dropdown-toggle(data-toggle='dropdown', href='#')
                  i.halflings-icon.white.tasks
                |                         
                ul.dropdown-menu.tasks
                  li.dropdown-menu-title
                    span You have 17 tasks in progress
                    |                                 
                    a(href='#refresh')
                      i.icon-repeat
                  |                             
                  li
                    a(href='#')
                      span.header
                        span.title iOS Development
                        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                        span.percent
                      |                                     
                      .taskProgress.progressSlim.red 80
                  |                             
                  li
                    a(href='#')
                      span.header
                        span.title Android Development
                        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                        span.percent
                      |                                     
                      .taskProgress.progressSlim.green 47
                  |                             
                  li
                    a(href='#')
                      span.header
                        span.title ARM Development
                        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                        span.percent
                      |                                     
                      .taskProgress.progressSlim.yellow 32
                  |                             
                  li
                    a(href='#')
                      span.header
                        span.title ARM Development
                        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                        span.percent
                      |                                     
                      .taskProgress.progressSlim.greenLight 63
                  |                             
                  li
                    a(href='#')
                      span.header
                        span.title ARM Development
                        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                        span.percent
                      |                                     
                      .taskProgress.progressSlim.orange 80
                  |                             
                  li
                    a.dropdown-menu-sub-footer View all tasks
              // end: Notifications Dropdown
              // start: Message Dropdown
              li.dropdown.hidden-phone
                a.btn.dropdown-toggle(data-toggle='dropdown', href='#')
                  i.halflings-icon.white.envelope
                |                         
                ul.dropdown-menu.messages
                  li.dropdown-menu-title
                    span You have 9 messages
                    |                                 
                    a(href='#refresh')
                      i.icon-repeat
                  |                             
                  li
                    a(href='#')
                      span.avatar
                        img(src='../img/avatar.jpg', alt='Avatar')
                      | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                      span.header
                        span.from
                          | Dennis Ji
                        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                        span.time
                          | 6 min
                      |                                         
                      span.message
                        | Lorem ipsum dolor sit amet consectetur adipiscing elit, et al commore
                  |                             
                  li
                    a(href='#')
                      span.avatar
                        img(src='../img/avatar.jpg', alt='Avatar')
                      | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                      span.header
                        span.from
                          | Dennis Ji
                        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                        span.time
                          | 56 min
                      |                                         
                      span.message
                        | Lorem ipsum dolor sit amet consectetur adipiscing elit, et al commore
                  |                             
                  li
                    a(href='#')
                      span.avatar
                        img(src='../img/avatar.jpg', alt='Avatar')
                      | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                      span.header
                        span.from
                          | Dennis Ji
                        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                        span.time
                          | 3 hours
                      |                                         
                      span.message
                        | Lorem ipsum dolor sit amet consectetur adipiscing elit, et al commore
                  |                             
                  li
                    a(href='#')
                      span.avatar
                        img(src='../img/avatar.jpg', alt='Avatar')
                      | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                      span.header
                        span.from
                          | Dennis Ji
                        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                        span.time
                          | yesterday
                      |                                         
                      span.message
                        | Lorem ipsum dolor sit amet consectetur adipiscing elit, et al commore
                  |                             
                  li
                    a(href='#')
                      span.avatar
                        img(src='../img/avatar.jpg', alt='Avatar')
                      | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                      span.header
                        span.from
                          | Dennis Ji
                        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                        span.time
                          | Jul 25, 2012
                      |                                         
                      span.message
                        | Lorem ipsum dolor sit amet consectetur adipiscing elit, et al commore
                  |                             
                  li
                    a.dropdown-menu-sub-footer View all messages
              // end: Message Dropdown
              li
                a.btn(href='#')
                  i.halflings-icon.white.wrench
              // start: User Dropdown
              li.dropdown
                a.btn.dropdown-toggle(data-toggle='dropdown', href='#')
                  i.halflings-icon.white.user
                  |  Dennis Ji
                  |                             
                  span.caret
                |                         
                ul.dropdown-menu
                  li.dropdown-menu-title
                    span Account Settings
                  |                             
                  li
                    a(href='#')
                      i.halflings-icon.user
                      |  Profile
                  |                             
                  li
                    a(href='login.html')
                      i.halflings-icon.off
                      |  Logout
              // end: User Dropdown
          // end: Header Menu
    // start: Header
    .container-fluid-full
      .row-fluid
        // start: Main Menu
        #sidebar-left.span2
          .nav-collapse.sidebar-nav
            ul.nav.nav-tabs.nav-stacked.main-menu
              li
                a(href='index.html')
                  i.icon-bar-chart
                  span.hidden-tablet  Dashboard
              |                     
              li
                a(href='messages.html')
                  i.icon-envelope
                  span.hidden-tablet  Messages
              |                     
              li
                a(href='tasks.html')
                  i.icon-tasks
                  span.hidden-tablet  Tasks
              |                     
              li
                a(href='ui.html')
                  i.icon-eye-open
                  span.hidden-tablet  UI Features
              |                     
              li
                a(href='widgets.html')
                  i.icon-dashboard
                  span.hidden-tablet  Widgets
              |                     
              li
                a.dropmenu(href='#')
                  i.icon-folder-close-alt
                  span.hidden-tablet  Dropdown
                  span.label.label-important  3 
                |                         
                ul
                  li
                    a.submenu(href='submenu.html')
                      i.icon-file-alt
                      span.hidden-tablet  Sub Menu 1
                  |                             
                  li
                    a.submenu(href='submenu2.html')
                      i.icon-file-alt
                      span.hidden-tablet  Sub Menu 2
                  |                             
                  li
                    a.submenu(href='submenu3.html')
                      i.icon-file-alt
                      span.hidden-tablet  Sub Menu 3
              |                     
              li
                a(href='form.html')
                  i.icon-edit
                  span.hidden-tablet  Forms
              |                     
              li
                a(href='chart.html')
                  i.icon-list-alt
                  span.hidden-tablet  Charts
              |                     
              li
                a(href='typography.html')
                  i.icon-font
                  span.hidden-tablet  Typography
              |                     
              li
                a(href='gallery.html')
                  i.icon-picture
                  span.hidden-tablet  Gallery
              |                     
              li
                a(href='table.html')
                  i.icon-align-justify
                  span.hidden-tablet  Tables
              |                     
              li
                a(href='calendar.html')
                  i.icon-calendar
                  span.hidden-tablet  Calendar
              |                     
              li
                a(href='file-manager.html')
                  i.icon-folder-open
                  span.hidden-tablet  File Manager
              |                     
              li
                a(href='icon.html')
                  i.icon-star
                  span.hidden-tablet  Icons
              |                     
              li
                a(href='login.html')
                  i.icon-lock
                  span.hidden-tablet  Login Page
        // end: Main Menu
        noscript
          .alert.alert-block.span10
            h4.alert-heading Warning!
            |                 
            p
              | You need to have 
              a(href='http://en.wikipedia.org/wiki/JavaScript', target='_blank') JavaScript
              |  enabled to use this site.
        // start: Content
        #content.span10
          ul.breadcrumb
            li
              i.icon-home
              |                     
              a(href='index.html') Home
              |                     
              i.icon-angle-right
            |                 
            li
              a(href='#') Dashboard
          |             
          .row-fluid
            .span3.statbox.purple(ontablet='span6', ondesktop='span3')
              .boxchart 5,6,7,2,0,4,2,4,8,2,3,3,2
              |                     
              .number
                | 854
                i.icon-arrow-up
              |                     
              .title visits
              |                     
              .footer
                a(href='#')  read full report
            |                 
            .span3.statbox.green(ontablet='span6', ondesktop='span3')
              .boxchart 1,2,6,4,0,8,2,4,5,3,1,7,5
              |                     
              .number
                | 123
                i.icon-arrow-up
              |                     
              .title sales
              |                     
              .footer
                a(href='#')  read full report
            |                 
            .span3.statbox.blue.noMargin(ontablet='span6', ondesktop='span3')
              .boxchart 5,6,7,2,0,-4,-2,4,8,2,3,3,2
              |                     
              .number
                | 982
                i.icon-arrow-up
              |                     
              .title orders
              |                     
              .footer
                a(href='#')  read full report
            |                 
            .span3.statbox.yellow(ontablet='span6', ondesktop='span3')
              .boxchart 7,2,2,2,1,-4,-2,4,8,,0,3,3,5
              |                     
              .number
                | 678
                i.icon-arrow-down
              |                     
              .title visits
              |                     
              .footer
                a(href='#')  read full report
          |             
          .row-fluid
            .span8.widget.blue(ontablet='span7', ondesktop='span8')
              #stats-chart2(style='height:282px')
            |                 
            .sparkLineStats.span4.widget.green(ontablet='span5', ondesktop='span4')
              ul.unstyled
                li
                  span.sparkLineStats3
                  |                             Pageviews:
                  |                             
                  span.number 781
                |                         
                li
                  span.sparkLineStats4
                  |                             Pages / Visit:
                  |                             
                  span.number 2,19
                |                         
                li
                  span.sparkLineStats5
                  |                             Avg. Visit Duration:
                  |                             
                  span.number 00:02:58
                |                         
                li
                  span.sparkLineStats6
                  |                             Bounce Rate: 
                  span.number 59,83%
                |                         
                li
                  span.sparkLineStats7
                  |                             % New Visits:
                  |                             
                  span.number 70,79%
                |                         
                li
                  span.sparkLineStats8
                  |                             % Returning Visitor:
                  |                             
                  span.number 29,21%
              |                     
              .clearfix
            // End .sparkStats
          |             
          .row-fluid.hideInIE8.circleStats
            .span2(ontablet='span4', ondesktop='span2')
              .circleStatsItemBox.yellow
                .header Disk Space Usage
                |                         
                span.percent percent
                |                         
                .circleStat
                  input.whiteCircle(type='text', value='58')
                |                         
                .footer
                  span.count
                    span.number 20000
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    span.unit MB
                  |                             
                  span.sep  / 
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  span.value
                    span.number 50000
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    span.unit MB
            |                 
            .span2(ontablet='span4', ondesktop='span2')
              .circleStatsItemBox.green
                .header Bandwidth
                |                         
                span.percent percent
                |                         
                .circleStat
                  input.whiteCircle(type='text', value='78')
                |                         
                .footer
                  span.count
                    span.number 5000
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    span.unit GB
                  |                             
                  span.sep  / 
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  span.value
                    span.number 5000
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    span.unit GB
            |                 
            .span2(ontablet='span4', ondesktop='span2')
              .circleStatsItemBox.greenDark
                .header Memory
                |                         
                span.percent percent
                |                         
                .circleStat
                  input.whiteCircle(type='text', value='100')
                |                         
                .footer
                  span.count
                    span.number 64
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    span.unit GB
                  |                             
                  span.sep  / 
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  span.value
                    span.number 64
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    span.unit GB
            |                 
            .span2.noMargin(ontablet='span4', ondesktop='span2')
              .circleStatsItemBox.pink
                .header CPU
                |                         
                span.percent percent
                |                         
                .circleStat
                  input.whiteCircle(type='text', value='83')
                |                         
                .footer
                  span.count
                    span.number 64
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    span.unit GHz
                  |                             
                  span.sep  / 
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  span.value
                    span.number 3.2
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    span.unit GHz
            |                 
            .span2(ontablet='span4', ondesktop='span2')
              .circleStatsItemBox.orange
                .header Memory
                |                         
                span.percent percent
                |                         
                .circleStat
                  input.whiteCircle(type='text', value='100')
                |                         
                .footer
                  span.count
                    span.number 64
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    span.unit GB
                  |                             
                  span.sep  / 
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  span.value
                    span.number 64
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    span.unit GB
            |                 
            .span2(ontablet='span4', ondesktop='span2')
              .circleStatsItemBox.greenLight
                .header Memory
                |                         
                span.percent percent
                |                         
                .circleStat
                  input.whiteCircle(type='text', value='100')
                |                         
                .footer
                  span.count
                    span.number 64
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    span.unit GB
                  |                             
                  span.sep  / 
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  span.value
                    span.number 64
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    span.unit GB
          |             
          .row-fluid
            .widget.blue.span5(ontablet='span6', ondesktop='span5')
              h2
                span.glyphicons.globe
                  i
                |  Demographics
              |                     
              hr
              |                     
              .content
                .verticalChart
                  .singleBar
                    .bar
                      .value
                        span 37%
                    |                                 
                    .title US
                  |                             
                  .singleBar
                    .bar
                      .value
                        span 16%
                    |                                 
                    .title PL
                  |                             
                  .singleBar
                    .bar
                      .value
                        span 12%
                    |                                 
                    .title GB
                  |                             
                  .singleBar
                    .bar
                      .value
                        span 9%
                    |                                 
                    .title DE
                  |                             
                  .singleBar
                    .bar
                      .value
                        span 7%
                    |                                 
                    .title NL
                  |                             
                  .singleBar
                    .bar
                      .value
                        span 6%
                    |                                 
                    .title CA
                  |                             
                  .singleBar
                    .bar
                      .value
                        span 5%
                    |                                 
                    .title FI
                  |                             
                  .singleBar
                    .bar
                      .value
                        span 4%
                    |                                 
                    .title RU
                  |                             
                  .singleBar
                    .bar
                      .value
                        span 3%
                    |                                 
                    .title AU
                  |                             
                  .singleBar
                    .bar
                      .value
                        span 1%
                    |                                 
                    .title N/A
                  |                             
                  .clearfix
            // /span
            .widget.span3.red(ontablet='span6', ondesktop='span3')
              h2
                span.glyphicons.pie_chart
                  i
                |  Browsers
              |                     
              hr
              |                     
              .content
                .browserStat.big
                  img(src='../img/browser-chrome-big.png', alt='Chrome')
                  |                             
                  span 34%
                |                         
                .browserStat.big
                  img(src='../img/browser-firefox-big.png', alt='Firefox')
                  |                             
                  span 34%
                |                         
                .browserStat
                  img(src='../img/browser-ie.png', alt='Internet Explorer')
                  |                             
                  span 34%
                |                         
                .browserStat
                  img(src='../img/browser-safari.png', alt='Safari')
                  |                             
                  span 34%
                |                         
                .browserStat
                  img(src='../img/browser-opera.png', alt='Opera')
                  |                             
                  span 34%
            |                 
            .widget.yellow.span4.noMargin(ontablet='span12', ondesktop='span4')
              h2
                span.glyphicons.fire
                  i
                |  Server Load
              |                     
              hr
              |                     
              .content
                #serverLoad2(style='height:224px;')
          |             
          .row-fluid
            .box.black.span4(ontablet='span6', ondesktop='span4')
              .box-header
                h2
                  i.halflings-icon.white.list
                  span.break
                  | Weekly Stat
                |                         
                .box-icon
                  a.btn-minimize(href='#')
                    i.halflings-icon.white.chevron-up
                  |                             
                  a.btn-close(href='#')
                    i.halflings-icon.white.remove
              |                     
              .box-content
                ul.dashboard-list.metro
                  li
                    a(href='#')
                      i.icon-arrow-up.green
                      |                                     
                      strong 92
                      |                                     New Comments
                  |                             
                  li
                    a(href='#')
                      i.icon-arrow-down.red
                      |                                     
                      strong 15
                      |                                     New Registrations
                  |                             
                  li
                    a(href='#')
                      i.icon-minus.blue
                      |                                     
                      strong 36
                      |                                     New Articles
                  |                             
                  li
                    a(href='#')
                      i.icon-comment.yellow
                      |                                     
                      strong 45
                      |                                     User reviews
                  |                             
                  li
                    a(href='#')
                      i.icon-arrow-up.green
                      |                                     
                      strong 112
                      |                                     New Comments
                  |                             
                  li
                    a(href='#')
                      i.icon-arrow-down.red
                      |                                     
                      strong 31
                      |                                     New Registrations
                  |                             
                  li
                    a(href='#')
                      i.icon-minus.blue
                      |                                     
                      strong 93
                      |                                     New Articles
                  |                             
                  li
                    a(href='#')
                      i.icon-comment.yellow
                      |                                     
                      strong 256
                      |                                     User reviews
            // /span
            .box.black.span4(ontablet='span6', ondesktop='span4')
              .box-header
                h2
                  i.halflings-icon.white.user
                  span.break
                  | Last Users
                |                         
                .box-icon
                  a.btn-minimize(href='#')
                    i.halflings-icon.white.chevron-up
                  |                             
                  a.btn-close(href='#')
                    i.halflings-icon.white.remove
              |                     
              .box-content
                ul.dashboard-list.metro
                  li.green
                    a(href='#')
                      img.avatar(alt='Dennis Ji', src='../img/avatar.jpg')
                    |                                 
                    strong Name:
                    |  Dennis Ji
                    br
                    |                                 
                    strong Since:
                    |  Jul 25, 2012 11:09
                    br
                    |                                 
                    strong Status:
                    |  Approved
                  |                             
                  li.yellow
                    a(href='#')
                      img.avatar(alt='Dennis Ji', src='../img/avatar.jpg')
                    |                                 
                    strong Name:
                    |  Dennis Ji
                    br
                    |                                 
                    strong Since:
                    |  Jul 25, 2012 11:09
                    br
                    |                                 
                    strong Status:
                    |  Pending
                  |                             
                  li.red
                    a(href='#')
                      img.avatar(alt='Dennis Ji', src='../img/avatar.jpg')
                    |                                 
                    strong Name:
                    |  Dennis Ji
                    br
                    |                                 
                    strong Since:
                    |  Jul 25, 2012 11:09
                    br
                    |                                 
                    strong Status:
                    |  Banned
                  |                             
                  li.blue
                    a(href='#')
                      img.avatar(alt='Dennis Ji', src='../img/avatar.jpg')
                    |                                 
                    strong Name:
                    |  Dennis Ji
                    br
                    |                                 
                    strong Since:
                    |  Jul 25, 2012 11:09
                    br
                    |                                 
                    strong Status:
                    |  Updated
            // /span
            .box.black.span4.noMargin(ontablet='span12', ondesktop='span4')
              .box-header
                h2
                  i.halflings-icon.white.check
                  span.break
                  | To Do List
                |                         
                .box-icon
                  a.btn-setting(href='#')
                    i.halflings-icon.white.wrench
                  |                             
                  a.btn-minimize(href='#')
                    i.halflings-icon.white.chevron-up
                  |                             
                  a.btn-close(href='#')
                    i.halflings-icon.white.remove
              |                     
              .box-content
                .todo.metro
                  ul.todo-list
                    li.red
                      a.action.icon-check-empty(href='#')
                      |                                     Windows Phone 8 App
                      |                                     
                      strong today
                    |                                 
                    li.red
                      a.action.icon-check-empty(href='#')
                      |                                     New frontend layout
                      |                                     
                      strong today
                    |                                 
                    li.yellow
                      a.action.icon-check-empty(href='#')
                      |                                     Hire developers
                      |                                     
                      strong tommorow
                    |                                 
                    li.yellow
                      a.action.icon-check-empty(href='#')
                      |                                     Windows Phone 8 App
                      |                                     
                      strong tommorow
                    |                                 
                    li.green
                      a.action.icon-check-empty(href='#')
                      |                                     New frontend layout
                      |                                     
                      strong this week
                    |                                 
                    li.green
                      a.action.icon-check-empty(href='#')
                      |                                     Hire developers
                      |                                     
                      strong this week
                    |                                 
                    li.blue
                      a.action.icon-check-empty(href='#')
                      |                                     New frontend layout
                      |                                     
                      strong this month
                    |                                 
                    li.blue
                      a.action.icon-check-empty(href='#')
                      |                                     Hire developers
                      |                                     
                      strong this month
          |             
          .row-fluid
            a.quick-button.metro.yellow.span2
              i.icon-group
              |                     
              p Users
              |                     
              span.badge 237
            |                 
            a.quick-button.metro.red.span2
              i.icon-comments-alt
              |                     
              p Comments
              |                     
              span.badge 46
            |                 
            a.quick-button.metro.blue.span2
              i.icon-shopping-cart
              |                     
              p Orders
              |                     
              span.badge 13
            |                 
            a.quick-button.metro.green.span2
              i.icon-barcode
              |                     
              p Products
            |                 
            a.quick-button.metro.pink.span2
              i.icon-envelope
              |                     
              p Messages
              |                     
              span.badge 88
            |                 
            a.quick-button.metro.black.span2
              i.icon-calendar
              |                     
              p Calendar
            |                 
            .clearfix
          // /row
        // /.fluid-container
        // end: Content
      // /#content.span10
    // /fluid-row
    #myModal.modal.hide.fade
      .modal-header
        button.close(type='button', data-dismiss='modal') &times;
        |         
        h3 Settings
      |     
      .modal-body
        p Here settings can be configured...
      |     
      .modal-footer
        a.btn(href='#', data-dismiss='modal') Close
        |         
        a.btn.btn-primary(href='#') Save changes
    .clearfix
    footer
      p
        span(style='text-align:left;float:left')
          | &copy; 2013 
          a(href='http://jiji262.github.io/Bootstrap_Metro_Dashboard/', alt='Bootstrap_Metro_Dashboard') Bootstrap Metro Dashboard
    // start: JavaScript
    script(src='../js/jquery-1.9.1.min.js')
    script(src='../js/jquery-migrate-1.0.0.min.js')
    script(src='../js/jquery-ui-1.10.0.custom.min.js')
    script(src='../js/jquery.ui.touch-punch.js')
    script(src='../js/modernizr.js')
    script(src='../js/bootstrap.min.js')
    script(src='../js/jquery.cookie.js')
    script(src='../js/fullcalendar.min.js')
    script(src='../js/jquery.dataTables.min.js')
    script(src='../js/excanvas.js')
    script(src='../js/jquery.flot.js')
    script(src='../js/jquery.flot.pie.js')
    script(src='../js/jquery.flot.stack.js')
    script(src='../js/jquery.flot.resize.min.js')
    script(src='../js/jquery.chosen.min.js')
    script(src='../js/jquery.uniform.min.js')
    script(src='../js/jquery.cleditor.min.js')
    script(src='../js/jquery.noty.js')
    script(src='../js/jquery.elfinder.min.js')
    script(src='../js/jquery.raty.min.js')
    script(src='../js/jquery.iphone.toggle.js')
    script(src='../js/jquery.uploadify-3.1.min.js')
    script(src='../js/jquery.gritter.min.js')
    script(src='../js/jquery.imagesloaded.js')
    script(src='../js/jquery.masonry.min.js')
    script(src='../js/jquery.knob.modified.js')
    script(src='../js/jquery.sparkline.min.js')
    script(src='../js/counter.js')
    script(src='../js/retina.js')
    script(src='../js/custom.js')
    // end: JavaScript
