doctype html
html(lang='en')
  head
    // start: Meta
    meta(charset='utf-8')
    | &#x9;
    title Bootstrap Metro Dashboard by Dennis Ji for ARM demo
    | &#x9;
    meta(name='description', content='Bootstrap Metro Dashboard')
    | &#x9;
    meta(name='author', content='Dennis Ji')
    | &#x9;
    meta(name='keyword', content='Metro, Metro UI, Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina')
    // end: Meta
    // start: Mobile Specific
    meta(name='viewport', content='width=device-width, initial-scale=1')
    // end: Mobile Specific
    // start: CSS
    link#bootstrap-style(href='../css/bootstrap.min.css', rel='stylesheet')
    | &#x9;
    link(href='../css/bootstrap-responsive.min.css', rel='stylesheet')
    | &#x9;
    link#base-style(href='../css/style.css', rel='stylesheet')
    | &#x9;
    link#base-style-responsive(href='../css/style-responsive.css', rel='stylesheet')
    | &#x9;
    link(href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&subset=latin,cyrillic-ext,latin-ext', rel='stylesheet', type='text/css')
    // end: CSS
    // The HTML5 shim, for IE6-8 support of HTML5 elements
    //if lt IE 9
      script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')
      |     
      link#ie-style(href='../css/ie.css', rel='stylesheet')
    //if IE 9
      link#ie9style(href='../css/ie9.css', rel='stylesheet')
    // start: Favicon
    link(rel='shortcut icon', href='img/favicon.ico')
    // end: Favicon
  body
    // start: Header
    .navbar
      .navbar-inner
        .container-fluid
          a.btn.btn-navbar(data-toggle='collapse', data-target='.top-nav.nav-collapse,.sidebar-nav.nav-collapse')
            span.icon-bar
            | &#x9;&#x9;&#x9;&#x9;&#x9;
            span.icon-bar
            | &#x9;&#x9;&#x9;&#x9;&#x9;
            span.icon-bar
          | &#x9;&#x9;&#x9;&#x9;
          a.brand(href='index.html')
            span Metro
          // start: Header Menu
          .nav-no-collapse.header-nav
            ul.nav.pull-right
              li.dropdown.hidden-phone
                a.btn.dropdown-toggle(data-toggle='dropdown', href='#')
                  i.halflings-icon.white.warning-sign
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                ul.dropdown-menu.notifications
                  li.dropdown-menu-title
                    span You have 11 notifications
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    a(href='#refresh')
                      i.icon-repeat
                  | &#x9;
                  |                             &#x9;
                  li
                    a(href='#')
                      span.icon.blue
                        i.icon-user
                      | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                      span.message New user registration
                      | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                      span.time 1 min
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  li
                    a(href='#')
                      span.icon.green
                        i.icon-comment-alt
                      | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                      span.message New comment
                      | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                      span.time 7 min
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  li
                    a(href='#')
                      span.icon.green
                        i.icon-comment-alt
                      | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                      span.message New comment
                      | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                      span.time 8 min
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  li
                    a(href='#')
                      span.icon.green
                        i.icon-comment-alt
                      | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                      span.message New comment
                      | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                      span.time 16 min
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  li
                    a(href='#')
                      span.icon.blue
                        i.icon-user
                      | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                      span.message New user registration
                      | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                      span.time 36 min
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  li
                    a(href='#')
                      span.icon.yellow
                        i.icon-shopping-cart
                      | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                      span.message 2 items sold
                      | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                      span.time 1 hour
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  li.warning
                    a(href='#')
                      span.icon.red
                        i.icon-user
                      | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                      span.message User deleted account
                      | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                      span.time 2 hour
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  li.warning
                    a(href='#')
                      span.icon.red
                        i.icon-shopping-cart
                      | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                      span.message New comment
                      | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                      span.time 6 hour
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  li
                    a(href='#')
                      span.icon.green
                        i.icon-comment-alt
                      | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                      span.message New comment
                      | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                      span.time yesterday
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  li
                    a(href='#')
                      span.icon.blue
                        i.icon-user
                      | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                      span.message New user registration
                      | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                      span.time yesterday
                  |                                 
                  li.dropdown-menu-sub-footer
                    a View all notifications
              // start: Notifications Dropdown
              li.dropdown.hidden-phone
                a.btn.dropdown-toggle(data-toggle='dropdown', href='#')
                  i.halflings-icon.white.tasks
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                ul.dropdown-menu.tasks
                  li.dropdown-menu-title
                    span You have 17 tasks in progress
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    a(href='#refresh')
                      i.icon-repeat
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  li
                    a(href='#')
                      span.header
                        span.title iOS Development
                        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                        span.percent
                      |                                         
                      .taskProgress.progressSlim.red 80
                  |                                 
                  li
                    a(href='#')
                      span.header
                        span.title Android Development
                        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                        span.percent
                      |                                         
                      .taskProgress.progressSlim.green 47
                  |                                 
                  li
                    a(href='#')
                      span.header
                        span.title ARM Development
                        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                        span.percent
                      |                                         
                      .taskProgress.progressSlim.yellow 32
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  li
                    a(href='#')
                      span.header
                        span.title ARM Development
                        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                        span.percent
                      |                                         
                      .taskProgress.progressSlim.greenLight 63
                  |                                 
                  li
                    a(href='#')
                      span.header
                        span.title ARM Development
                        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                        span.percent
                      |                                         
                      .taskProgress.progressSlim.orange 80
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  li
                    a.dropdown-menu-sub-footer View all tasks
              // end: Notifications Dropdown
              // start: Message Dropdown
              li.dropdown.hidden-phone
                a.btn.dropdown-toggle(data-toggle='dropdown', href='#')
                  i.halflings-icon.white.envelope
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                ul.dropdown-menu.messages
                  li.dropdown-menu-title
                    span You have 9 messages
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    a(href='#refresh')
                      i.icon-repeat
                  | &#x9;
                  |                             &#x9;
                  li
                    a(href='#')
                      span.avatar
                        img(src='../img/avatar.jpg', alt='Avatar')
                      | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                      span.header
                        span.from
                          | Dennis Ji
                        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                        span.time
                          | 6 min
                      |                                         
                      span.message
                        | Lorem ipsum dolor sit amet consectetur adipiscing elit, et al commore
                  |                                 
                  li
                    a(href='#')
                      span.avatar
                        img(src='../img/avatar.jpg', alt='Avatar')
                      | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                      span.header
                        span.from
                          | Dennis Ji
                        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                        span.time
                          | 56 min
                      |                                         
                      span.message
                        | Lorem ipsum dolor sit amet consectetur adipiscing elit, et al commore
                  |                                 
                  li
                    a(href='#')
                      span.avatar
                        img(src='../img/avatar.jpg', alt='Avatar')
                      | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                      span.header
                        span.from
                          | Dennis Ji
                        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                        span.time
                          | 3 hours
                      |                                         
                      span.message
                        | Lorem ipsum dolor sit amet consectetur adipiscing elit, et al commore
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  li
                    a(href='#')
                      span.avatar
                        img(src='../img/avatar.jpg', alt='Avatar')
                      | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                      span.header
                        span.from
                          | Dennis Ji
                        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                        span.time
                          | yesterday
                      |                                         
                      span.message
                        | Lorem ipsum dolor sit amet consectetur adipiscing elit, et al commore
                  |                                 
                  li
                    a(href='#')
                      span.avatar
                        img(src='../img/avatar.jpg', alt='Avatar')
                      | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                      span.header
                        span.from
                          | Dennis Ji
                        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                        span.time
                          | Jul 25, 2012
                      |                                         
                      span.message
                        | Lorem ipsum dolor sit amet consectetur adipiscing elit, et al commore
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  li
                    a.dropdown-menu-sub-footer View all messages
              // end: Message Dropdown
              li
                a.btn(href='#')
                  i.halflings-icon.white.wrench
              // start: User Dropdown
              li.dropdown
                a.btn.dropdown-toggle(data-toggle='dropdown', href='#')
                  i.halflings-icon.white.user
                  |  Dennis Ji
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  span.caret
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                ul.dropdown-menu
                  li.dropdown-menu-title
                    span Account Settings
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  li
                    a(href='#')
                      i.halflings-icon.user
                      |  Profile
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  li
                    a(href='login.html')
                      i.halflings-icon.off
                      |  Logout
              // end: User Dropdown
          // end: Header Menu
    // start: Header
    .container-fluid-full
      .row-fluid
        // start: Main Menu
        #sidebar-left.span2
          .nav-collapse.sidebar-nav
            ul.nav.nav-tabs.nav-stacked.main-menu
              li
                a(href='index.html')
                  i.icon-bar-chart
                  span.hidden-tablet  Dashboard
              | &#x9;
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              li
                a(href='messages.html')
                  i.icon-envelope
                  span.hidden-tablet  Messages
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              li
                a(href='tasks.html')
                  i.icon-tasks
                  span.hidden-tablet  Tasks
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              li
                a(href='ui.html')
                  i.icon-eye-open
                  span.hidden-tablet  UI Features
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              li
                a(href='widgets.html')
                  i.icon-dashboard
                  span.hidden-tablet  Widgets
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              li
                a.dropmenu(href='#')
                  i.icon-folder-close-alt
                  span.hidden-tablet  Dropdown
                  span.label.label-important  3 
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                ul
                  li
                    a.submenu(href='submenu.html')
                      i.icon-file-alt
                      span.hidden-tablet  Sub Menu 1
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  li
                    a.submenu(href='submenu2.html')
                      i.icon-file-alt
                      span.hidden-tablet  Sub Menu 2
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  li
                    a.submenu(href='submenu3.html')
                      i.icon-file-alt
                      span.hidden-tablet  Sub Menu 3
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              li
                a(href='form.html')
                  i.icon-edit
                  span.hidden-tablet  Forms
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              li
                a(href='chart.html')
                  i.icon-list-alt
                  span.hidden-tablet  Charts
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              li
                a(href='typography.html')
                  i.icon-font
                  span.hidden-tablet  Typography
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              li
                a(href='gallery.html')
                  i.icon-picture
                  span.hidden-tablet  Gallery
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              li
                a(href='table.html')
                  i.icon-align-justify
                  span.hidden-tablet  Tables
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              li
                a(href='calendar.html')
                  i.icon-calendar
                  span.hidden-tablet  Calendar
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              li
                a(href='file-manager.html')
                  i.icon-folder-open
                  span.hidden-tablet  File Manager
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              li
                a(href='icon.html')
                  i.icon-star
                  span.hidden-tablet  Icons
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              li
                a(href='login.html')
                  i.icon-lock
                  span.hidden-tablet  Login Page
        // end: Main Menu
        noscript
          .alert.alert-block.span10
            h4.alert-heading Warning!
            | &#x9;&#x9;&#x9;&#x9;&#x9;
            p
              | You need to have 
              a(href='http://en.wikipedia.org/wiki/JavaScript', target='_blank') JavaScript
              |  enabled to use this site.
        // start: Content
        #content.span10
          ul.breadcrumb
            li
              i.icon-home
              | &#x9;&#x9;&#x9;&#x9;&#x9;
              a(href='index.html') Home
              |  
              | &#x9;&#x9;&#x9;&#x9;&#x9;
              i.icon-angle-right
            | &#x9;&#x9;&#x9;&#x9;
            li
              a(href='#') Typography
          | &#x9;&#x9;&#x9;
          .row-fluid.sortable
            .box.span9
              .box-header
                h2
                  i.halflings-icon.font
                  span.break
                  | Typography
              | &#x9;&#x9;&#x9;&#x9;&#x9;
              .box-content
                .page-header
                  h1
                    | Typography 
                    small Headings, paragraphs, lists, and other inline type elements
                |      
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;  
                .row-fluid
                  .span4
                    h3 Sample text and paragraphs
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    p
                      | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales at. Nulla tellus elit, varius non commodo eget, mattis vel eros. In sed ornare nulla. Donec consectetur, velit a pharetra ultricies, diam lorem lacinia risus, ac commodo orci erat eu massa. Sed sit amet nulla ipsum. Donec felis mauris, vulputate sed tempor at, aliquam a ligula. Pellentesque non pulvinar nisi.
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    p
                      | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales at. Nulla tellus elit, varius non commodo eget, mattis vel eros. In sed ornare nulla. Donec consectetur, velit a pharetra ultricies, diam lorem lacinia risus, ac commodo orci erat eu massa. Sed sit amet nulla ipsum. Donec felis mauris, vulputate sed tempor at, aliquam a ligula. Pellentesque non pulvinar nisi.
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;  
                  .span4
                    h3 Example body text
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    p
                      | Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula ut id elit.
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    p
                      | Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Donec sed odio dui.
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;  
                  .span4
                    .well
                      h1 h1. Heading 1
                      | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;  
                      h2 h2. Heading 2
                      | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;  
                      h3 h3. Heading 3
                      | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;  
                      h4 h4. Heading 4
                      | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;  
                      h5 h5. Heading 5
                      | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;  
                      h6 h6. Heading 6
                // /row
                .row-fluid
                  .span12
                    h3 Example blockquotes
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;  
                    .row-fluid
                      .span6
                        p Default blockquotes are styled as such:
                        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;  
                        blockquote
                          p
                            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante venenatis.
                          | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                          small
                            | Someone famous in 
                            cite(title='') Body of work
                      | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                      .span6
                        p You can always float your blockquote to the right:
                        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;  
                        blockquote.pull-right
                          p
                            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante venenatis.
                          | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                          small
                            | Someone famous in 
                            cite(title='') Body of work
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;  
                .row-fluid
                  .span6
                    h3 More Sample Text
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    p
                      | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales at. Nulla tellus elit, varius non commodo eget, mattis vel eros. In sed ornare nulla. Donec consectetur, velit a pharetra ultricies, diam lorem lacinia risus, ac commodo orci erat eu massa. Sed sit amet nulla ipsum. Donec felis mauris, vulputate sed tempor at, aliquam a ligula. Pellentesque non pulvinar nisi.
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  .span6
                    h3 And Paragraphs
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    p
                      | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales at. Nulla tellus elit, varius non commodo eget, mattis vel eros. In sed ornare nulla. Donec consectetur, velit a pharetra ultricies, diam lorem lacinia risus, ac commodo orci erat eu massa. Sed sit amet nulla ipsum. Donec felis mauris, vulputate sed tempor at, aliquam a ligula. Pellentesque non pulvinar nisi.
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;  
                .row-fluid
                  .span12
                    h2 Example use of Tooltips
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    p Hover over the links below to see tooltips:
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    .tooltip-demo.well
                      p.muted(style='margin-bottom: 0;')
                        | Tight pants next level keffiyeh 
                        a(href='#', data-rel='tooltip', data-original-title='first tooltip') you probably
                        |  haven&apos;t heard of them. Photo booth beard raw denim letterpress vegan messenger bag stumptown. Farm-to-table seitan, mcsweeney&apos;s fixie sustainable quinoa 8-bit american appadata-rel 
                        a(href='#', data-rel='tooltip', data-original-title='Another tooltip') have a
                        |  terry richardson vinyl chambray. Beard stumptown, cardigans banh mi lomo thundercats. Tofu biodiesel williamsburg marfa, four loko mcsweeney&apos;s cleanse vegan chambray. A 
                        a(href='#', data-rel='tooltip', data-original-title='Another one here too') really ironic
                        |  artisan whatever keytar, scenester farm-to-table banksy Austin 
                        a(href='#', data-rel='tooltip', data-original-title='The last tip!') twitter handle
                        |  freegan cred raw denim single-origin coffee viral.
            // /span
            .box.span3
              .box-header(data-original-title='')
                h2
                  i.halflings-icon.list
                  span.break
                  | Unordered List
              | &#x9;&#x9;&#x9;&#x9;&#x9;
              .box-content
                ul
                  li Lorem ipsum dolor sit amet
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;  
                  li Consectetur adipiscing elit
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;  
                  li Integer molestie lorem at massa
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;  
                  li Facilisis in pretium nisl aliquet
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;  
                  li
                    | Nulla volutpat aliquam velit
                    ul
                      li Phasellus iaculis neque
                      | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;  
                      li Purus sodales ultricies
                      | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;  
                      li Vestibulum laoreet porttitor sem
                      | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;  
                      li Ac tristique libero volutpat at
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;  
                  li Faucibus porta lacus fringilla vel
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;  
                  li Aenean sit amet erat nunc
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;  
                  li Eget porttitor lorem
            // /span
            .box.span3
              .box-header(data-original-title='')
                h2
                  i.halflings-icon.list
                  span.break
                  | Ordered List
              | &#x9;&#x9;&#x9;&#x9;&#x9;
              .box-content
                ol
                  li Lorem ipsum dolor sit amet
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;  
                  li Consectetur adipiscing elit
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;  
                  li Integer molestie lorem at massa
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;  
                  li Facilisis in pretium nisl aliquet
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;  
                  li Nulla volutpat aliquam velit
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;  
                  li Faucibus porta lacus fringilla vel
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;  
                  li Aenean sit amet erat nunc
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;  
                  li Eget porttitor lorem
            // /span
            .box.span3
              .box-header(data-original-title='')
                h2
                  i.halflings-icon.list
                  span.break
                  | Description List
              | &#x9;&#x9;&#x9;&#x9;&#x9;
              .box-content
                dl
                  dt Description lists
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;  
                  dd A description list is perfect for defining terms.
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;  
                  dt Euismod
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;  
                  dd Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;  
                  dd Donec id elit non mi porta gravida at eget metus.
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;  
                  dt Malesuada porta
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;  
                  dd Etiam porta sem malesuada magna mollis euismod.
            // /span
          // /row
        // /.fluid-container
        // end: Content
      // /#content.span10
    // /fluid-row
    #myModal.modal.hide.fade
      .modal-header
        button.close(type='button', data-dismiss='modal') &times;
        | &#x9;&#x9;&#x9;
        h3 Settings
      | &#x9;&#x9;
      .modal-body
        p Here settings can be configured...
      | &#x9;&#x9;
      .modal-footer
        a.btn(href='#', data-dismiss='modal') Close
        | &#x9;&#x9;&#x9;
        a.btn.btn-primary(href='#') Save changes
    | &#x9;
    | &#x9;
    .clearfix
    | &#x9;
    | &#x9;
    footer
      p
        span(style='text-align:left;float:left')
          | &copy; 2013 
          a(href='http://jiji262.github.io/Bootstrap_Metro_Dashboard/', alt='Bootstrap_Metro_Dashboard') Bootstrap Metro Dashboard
    // start: JavaScript
    script(src='../js/jquery-1.9.1.min.js')
    | &#x9;
    script(src='../js/jquery-migrate-1.0.0.min.js')
    | &#x9;
    | &#x9;&#x9;
    script(src='../js/jquery-ui-1.10.0.custom.min.js')
    | &#x9;
    | &#x9;&#x9;
    script(src='../js/jquery.ui.touch-punch.js')
    | &#x9;
    | &#x9;&#x9;
    script(src='../js/modernizr.js')
    | &#x9;
    | &#x9;&#x9;
    script(src='../js/bootstrap.min.js')
    | &#x9;
    | &#x9;&#x9;
    script(src='../js/jquery.cookie.js')
    | &#x9;
    | &#x9;&#x9;
    script(src='../js/fullcalendar.min.js')
    | &#x9;
    | &#x9;&#x9;
    script(src='../js/jquery.dataTables.min.js')
    | &#x9;&#x9;
    script(src='../js/excanvas.js')
    | &#x9;
    script(src='../js/jquery.flot.js')
    | &#x9;
    script(src='../js/jquery.flot.pie.js')
    | &#x9;
    script(src='../js/jquery.flot.stack.js')
    | &#x9;
    script(src='../js/jquery.flot.resize.min.js')
    | &#x9;
    | &#x9;&#x9;
    script(src='../js/jquery.chosen.min.js')
    | &#x9;
    | &#x9;&#x9;
    script(src='../js/jquery.uniform.min.js')
    | &#x9;&#x9;
    | &#x9;&#x9;
    script(src='../js/jquery.cleditor.min.js')
    | &#x9;
    | &#x9;&#x9;
    script(src='../js/jquery.noty.js')
    | &#x9;
    | &#x9;&#x9;
    script(src='../js/jquery.elfinder.min.js')
    | &#x9;
    | &#x9;&#x9;
    script(src='../js/jquery.raty.min.js')
    | &#x9;
    | &#x9;&#x9;
    script(src='../js/jquery.iphone.toggle.js')
    | &#x9;
    | &#x9;&#x9;
    script(src='../js/jquery.uploadify-3.1.min.js')
    | &#x9;
    | &#x9;&#x9;
    script(src='../js/jquery.gritter.min.js')
    | &#x9;
    | &#x9;&#x9;
    script(src='../js/jquery.imagesloaded.js')
    | &#x9;
    | &#x9;&#x9;
    script(src='../js/jquery.masonry.min.js')
    | &#x9;
    | &#x9;&#x9;
    script(src='../js/jquery.knob.modified.js')
    | &#x9;
    | &#x9;&#x9;
    script(src='../js/jquery.sparkline.min.js')
    | &#x9;
    | &#x9;&#x9;
    script(src='../js/counter.js')
    | &#x9;
    | &#x9;&#x9;
    script(src='../js/retina.js')
    | &#x9;&#x9;
    script(src='../js/custom.js')
    // end: JavaScript
