extends shard/layout
- var style= {margin:0,padding:'5px'}
block content
  h1.alert-warning(style= {margin:0,padding:'5px'})= message
  h2.alert-danger(style= {margin:0,padding:'5px'})= error.status
  pre.alert-info #{error.stack}
