//
   Created by alex on 15/10/3.
extends ../../shard/layout-manage
block head
    style.
        .form-horizontal .control-label {
            width: 100px;
        }

        .form-horizontal .controls {
            margin-left: 40px;
        }

        .form-horizontal .form-actions {
            padding-left: 40px;
        }

        .radio, .checkbox {
            padding-left: 5px;
        }

block content
    ul.breadcrumb
        li
            i.icon-home
            a(href='/offline') 后台首页
            i.icon-angle-right
        li
            a(href='/offline/products') 产品管理
            i.icon-angle-right
        li
            a(href='#') 添加产品图片
    include ../../includes/pop
    .row-fluid
        .box.span12
            .box-header
                h2
                    i.halflings-icon.th
                    span.break
                    | 上传图片
            .box-content
                form#upload.form-horizontal(method='post',enctype='multipart/form-data')
                    fieldset
                        input(name='upload',type="file", multiple='mutiple')
                        //button#addUpload.btn.btn-success.btn-mini(type='button') 添加
                        .form-actions(style='')
                            input#count(name='count',type='hidden')
                            button#save.btn.btn-primary(type='button') 保存
                            | &nbsp;
                            button.btn(type='reset') 取消重填
    .row-fluid
        .box.span12
            .box-header(data-original-title='')
                h2
                    i.halflings-icon.picture
                    span.break
                    |  图片展示
                .box-icon
                    a#toggle-fullscreen.hidden-phone.hidden-tablet(href='#')
                        i.halflings-icon.fullscreen
                    a.btn-setting(href='#')
                        i.halflings-icon.wrench
                    a.btn-minimize(href='#')
                        i.halflings-icon.chevron-up
                    a.btn-close(href='#')
                        i.halflings-icon.remove
            .box-content
                .masonry-gallery
                    if data && data.images && data.images.length > 0
                        each img,index in data.images
                            if img
                                - var url = img.url?img.url:'',alt=img.alt?img.alt:''
                                - var attr = {style: 'background:url('+url+')', title: alt};
                                div(id='image-' + index).masonry-thumb
                                    a(href='#',data-id='#{img._id}')&attributes(attr)
                                        img.grayscale(src= url,alt= alt)

block script
    script(type="text/javascript").
        $(function () {
            var count = 0;
            $('#addUpload').on('click', function () {
                count++;
                var me = $(this);
                var file = $('<input/>').attr({
                    id: 'upload' + count,
                    name: 'upload' + count,
                    type: 'file',
                    multiple: 'mutiple'
                });
                //var file = newFile; // me.prev().clone();
                //file[0].id='uniform-upload-'+ count;
                //file.find('input')[0].id='upload-'+count;
                file.insertBefore(me);
                $('<br />').insertBefore(me);
                $('#count').val(count);
            });
            $('#save').on('click', function () {
                var me = $(this),
                        files = $(':file'),
                        validate = true;
                // 做验证
                $.each(files, function (i, file) {
                    var $file = $(file);
                    if (!(file && file.value !== "" && $file.val() !== "")) {
                        alert('请选择上传图片');
                        $file.focus();
                        validate = false;
                        return false;
                    }
                });
                if (validate) {
                    $('#upload').submit();
                }
            });
            $('.masonry-gallery .masonry-thumb a').on('mouseenter', function () {
                //alert('in:'+$(this).data('id'));
            }).on('mouseout',function () {
                //alert('out');
            }).on('click', function () {
                var me = $(this);
                if(showModal && typeof showModal === 'function') {
                    showModal('删除确认', '是否真的删除该产品？', function () {
                        $.post(location.href + '/del', {imgId: me.data('id')}, function (data) {
                            if (showMessage && typeof showMessage === 'function') {
                                showMessage(data && data == 'ok', null, null, function () {
                                    //me.remove();
                                    location.reload();
                                }, function () {
                                    alert('fail');
                                });
                            }
                        });
                    })
                }
            });
        });


//        $.ajax({
//            //url: location.href,
//            type: 'POST',
//            beforeSend: function () {
//                $('<i>上传中...</i>').insertAfter($('#addUpload'));
//            },
//            data: $('form').serialize(),
//            timeout: 5000,
//            success: function (msg) {
//                alert(msg);
//                $('#addUpload').next('i').remove();
//            },
//            error: function (msg) {
//                alert(msg);
//            }
//        });
