extends ../shard/layout-lands
block content
  img(src='/images/land10001_01.jpg',style='width:100%;')
  img(src='/images/land10001_02.jpg',style='width:100%;')
  a(href='/lands/input10001?channel=#{channel}')
    img(src='/images/land10001_03.jpg',style='width:100%;')